body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.mobileAttr {
  background-color: cyan;
  text-align: justify;
  color: blue;
  font-family: verdana;
  font-size: 10px;
  width: 120px;
  text-shadow: 2px 2px 8px #FF0000;
  }
  